$white: #ffffff;
$grapefruitPink: #ff6677;
$grey: #bebebe;
$darkGrey: #666666;
$rowHeight: 150px;
$dateFontSize: 25px;

body{
	background-color: $white;
}

.dateRow{

	border-bottom-color: $grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	min-height: $rowHeight;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
}

.add{
	display: inline;
	img{
		height: 25px;
		width: 23px;
		float: right;
		margin-right: 25px;
		&:hover{
			cursor: pointer;
		}
	}
}

.rowHeader{
	color: $grapefruitPink;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: $dateFontSize;

	p{
		display: inline;
	}
}

.rowContent{
	color: $darkGrey;
}

.noShow{
	display: none;
}